services:
  web:
    build:
      context: ./aplikacja_celu
      dockerfile: Dockerfile
    ports:
      - "5009:5009"
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - internal_network
  attacker:
    build:
      context: ./serwer_atakujacego
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - external_network

networks:
  internal_network:
    driver: bridge
  
  external_network:
    driver: bridge